 /* Style the buttons that are used to open and close the accordion panel */
 .ownAccordion {
    background-color: #1E1E1E;
    color: #cccccc;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeAccordion, .ownAccordion:hover {
    background-color: #252526;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .ownPanel {
    padding: 0 10px;
    background-color: #1E1E1E;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: justify;
    margin:auto;
  } 

  .ownAccordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
  .activeAccordion:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }