::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212529; 
  }
    
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #38383a; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 
  
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

  @font-face {
    font-family: sevenSegment;
    src: url(Seven_Segment.ttf);
}

  :root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #252526;
    --first-color-light: #CCCCCC;
    --second-color: #1E1E1E;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,::before,::after{
    box-sizing: border-box
}

body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: var(--second-color);
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    text-decoration: none
}

.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--second-color);
    z-index: var(--z-fixed);
    transition: .5s;
    color: var(--first-color-light)
}

.header_toggle{
    color: var(--first-color-light);
    font-size: 1.5rem;
    cursor: pointer;
    font-family: var(--body-font);
}

.header_img{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img{
    width: 40px
}

.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo{
    margin-bottom: 2rem
}

.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--first-color-light)
}

.nav_logo-name{
    color: var(--first-color-light);
    font-weight: 700
}

.nav_link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover{
    color: var(--white-color)
}

.nav_icon{
    font-size: 1.25rem
}

.show{
    left: 0
}

.body-pd{
    padding-left: calc(var(--nav-width) + 1rem);
}

.active{
    color: var(--white-color)
}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100{
    height:100vh
}

.sheet{
    color: var(--first-color-light);
    display:none;
}

.sheet-active{
    display:block;
}

#scene_content{
    background-image: url("./../img/scene.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
}

#scene_details{
    background-color: var(--second-color);
}

#sequencer_details{
    background-color: var(--second-color);
}

.deviceCard{
    margin-bottom:10px;
    border-radius:10px;
    text-align:center;
    background-color:white;
}
.deviceCard img{
    width:128px; 
    height:128px;
}
.deviceCard div{
    background-color: var(--first-color-light);
    color: var(--first-color);
    padding-top:5px;
    border-radius:10px;
}
.deviceCard:hover{
    background-color: var(--first-color-light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:grab;
    transition: 0.2s;
}

.deviceShape{
    position:absolute;
    cursor:move;
    text-align:center;
    width:128px;
    height:128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
}

.deviceSelected{
    border-style: solid;
    border-color: #cccccc;
    border-width: 3px;
    border-radius: 15px;
}

.segmentFont{
    font-family: sevenSegment;
    background-color: black;
    padding: 0px 10px 0px 10px;
    border-radius:5px;
    opacity:0.7;
    text-align:center;
    color:#cccccc;
}

.channelRows{
    cursor: grab;
}
.channelRows:hover{
    background-color: #1E1E1E;
}

/*Sequenceur*/
.form-range::-webkit-slider-thumb {
    background-color: var(--second-color);
  }
  
  .form-range::-moz-range-thumb {
    background-color: var(--second-color);
  }
  
  .form-range::-ms-thumb {
    background-color: var(--second-color);
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  } 

@media screen and (min-width: 768px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }
    
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
    
    .header_img{
        width: 40px;
        height: 40px
    }
    
    .header_img img{
        width: 45px
    }
    
    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0
    }
    
    .show{
        width: calc(var(--nav-width) + 156px)
    }
    
    .body-pd{
        padding-left: calc(var(--nav-width) + 188px)
    }

   
}