.contentWindow{
  position: absolute;
  background-color: #252526;
}

.resizer{
  position: absolute;
  z-index: 100;
}

.resizer:hover{
  background-color: #CCCCCC;
}

.verticalResizer{
  cursor: ns-resize;
}

.horizontalResizer{
  cursor: ew-resize;
}